
h1{
	color: blue;
	background-color: grey;
	text-align: center;

}

body {
	font-size: 14px;
	
	color: grey;
}

p{
	color: rbg(39,171,20);
	background-color: grey;
}

a{
	color: purple;
}

nav{
	text-align: left;
	color: red;
	
}

h2{
	color: blue;
	background-color: grey;
	
}