
h1{
	color: rbg(22, 22, 250);
	background-color: grey;
	text-align: center;

}

body {
	font-size: 14px;
	background-color: navy;
}

p{
	color: rbg(39,171,20);
	background-color: grey;
}

a{
	color: purple;
}

nav{
	text-align: left;
	color:grey;
}

h2{
	color: rbg(22, 22, 250);
	background-color: grey;
	
}